@page "/fetchdata"

@inject HttpClient Http
@*@inject IPokemonService pokemonService *@

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (pokemons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Stars</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pokemom in pokemons)
            {
                <tr>
                    <td>@pokemom.Nome</td>
                    <td>@pokemom.Stars</td>
                    <td>@pokemom.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Pokemon> pokemons;

    protected override async Task OnInitializedAsync()
    {
        pokemons = await Http.GetFromJsonAsync<List<Pokemon>>("/api/Pokemon");
    }
}
